@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  --light-grayish-blue: hsl(240, 5%, 91%);

  --font-family: 'Kumbh Sans', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
  font-family: var(--font-family);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  align-items: center;
  flex-basis: 100rem;
  background-color: white;
  border-radius: 2rem;
  padding: 7rem 0;
  gap: 5rem;
  overflow: hidden;
  position: relative;
  margin: 0 3rem;
  /* shadow */
}

.card__hero {
  position: relative;
  width: 50%;
  height: 100%;
}

.card__hero-image {
  position: absolute;
  width: 100%;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
  z-index: 1;
}

.pattern {
  position: absolute;
  top: -50%;
  left: -50%;
}

@media only screen and (max-width: 950px) {
  .pattern {
    left: -70%;
  }
}

.card::before {
  content: '';
  position: absolute;
  width: 20rem;
  height: 20rem;
  z-index: 999;
  background: url(./images/illustration-box-desktop.svg) no-repeat;
  left: -6%;
  animation: box-move 1s linear 0s infinite alternate none;
}

@keyframes box-move {
  from {
    top: 45%;
  }

  to {
    top: 43%;
  }
}

.card__faq {
  flex-basis: 35rem;
  height: 40rem;
  margin: 0 2rem;
}

.card__faq>h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--very-dark-desaturated-blue);
}

.card__faq-container {
  margin-top: 3rem;
}

.card__faq-container__question {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 1.2rem;
}

hr {
  border: 1px solid var(--light-grayish-blue);
}

.card__faq-container__question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.card__faq-container__question-header:hover {
  color: var(--soft-red);
}

.card__faq-container__question-header_enquiry.show {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.card__faq-container__question-header_arrow {
  transition: 0.2s;
}

.card__faq-container__question-header_arrow.rotate {
  rotate: 180deg;
}

.card__faq-container__question-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 1s cubic-bezier(0, 1, 0, 1);
  color: var(--dark-grayish-blue);
}

.card__faq-container__question-answer.show {
  max-height: max-content;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 850px) {
  .pattern {
    display: none;
  }

  .card::before {
    display: none;
  }

  .card {
    overflow: visible;
    padding: 6rem 0;
    background: url(./images/bg-pattern-mobile.svg) center top no-repeat;
    background-color: white;
  }

  .card__faq {
    height: 40rem;
  }

  .card__hero {
    width: 100%;
  }

  .card__hero-image {
    width: 22rem;
    top: -15rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .card {
    flex-direction: column;
  }

  .card__faq>h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 650px) {
  .card__faq-container__question {
    font-size: 1.25rem;
  }
}